/* general */
body{
    overflow-x: hidden;
}
/* header nav */
header{
    background: linear-gradient(135deg, #007bff 60%, #6f42c1 100%);
}
.headerTitle{
    font-family: 'Rubik', sans-serif;
}
/* contributors */
.card-contr{
    box-shadow: 0px 0px 2px 0px grey;
}
.img-card{
    object-position: 0px -20px;
    width: 120px; height: 120px;
    object-fit: cover;
    border: 4px solid #fff;
}
/* country_top_repos page */
.card-profile , new-repo{
    width:-webkit-fill-available;
    user-select:none;
    cursor: default
}