<footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <small>
                &copy; <b id="year"></b> <span class="font-weight-bold text-primary">TopRepos</span>. All rights reserved.
                &mdash; Built with <i class="fas fa-heart text-danger"></i> by
                <a href="https://github.com/ita27rmp100" class="text-info font-weight-bold" target="_blank" rel="noopener">ITA27</a>
            </small>
        </div>
    </footer>